.movie {
    height: 450px;
    width: 300px;
    color: #fff;
    position: relative;
    margin: 30px;
    z-index: 1;
    flex: 0 0 300px;
    transition: 300ms ease-out;
}
.movie:hover .movie-text {
    opacity: 1;
    backdrop-filter: blur(6px);
    cursor: pointer;
    transition: 300ms ease-in;
}

.movie-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 15px;
    z-index: 1;
    background: #00000060;
    backdrop-filter: blur(0px);
    opacity: 0;
    transition: 400ms ease-in;
}
.movie .movie-poster {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: #000;
}

.movie .movie-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
