@import '../styles/colors';

.movieSection {
    width: 100%;
    position: relative;
    overflow: hidden;
    .sectionTitle {
        font-size: 26px;
        margin: 30px 0 0 30px;
        color: $heading-text;
    }
    .sliderHandle {
        position: absolute;
        color: #ffffff7a;
        border: none;
        height: 78%;
        width: 100px;
        top: 98px;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        transition: 150ms ease-in-out;
        &.left {
            background: rgb(0, 0, 0);
            background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
        }
        &.right {
            right: 0;
            background: rgb(0, 0, 0);
            background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 1) 100%);
        }
        &:hover {
            color: #ffffffb2;
            transition: 150ms ease-in-out;
            cursor: pointer;
        }
        svg {
            opacity: 0;
            transition: 200ms ease-in-out;
        }
        &:hover svg {
            opacity: 1;
            transition: 200ms ease-in-out;
        }
    }
    .movieRow {
        position: relative;
        display: flex;
        width: 100%;
        transform: translateX(0%);
        transition: transform 300ms ease-in-out;
    }
}

// .movies-section .movie-row.trending {
// }
// .movies-section .movie-row.now-playing {
// }
// .movies-section .movie-row.top-rated {
// }
// .movies-section .movie-row.upcoming {
// }
