@import '../styles/colors';

.navbar {
    background-color: $light-blue;
    color: $light-text;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid #ffffff27;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    .menu {
        color: #fff;
        font-size: 26px;
        cursor: pointer;
    }
    .logo {
        width: 250px;
    }
}
